{% load static %}
<link rel="stylesheet" href="{% static 'rsvp/style.css' %}" />

<div class="container">
  <h1 class="welcome">We look forward to seeing you {{ group.group_name }}!</h1>

  <p class="rsvp">Please RSVP by April 17th, 2026</p>

  <form method="post" action="{% url 'rsvp' code=group.code %}">
    {% csrf_token %}

    <p>{{ form.email.label_tag }} {{ form.email }}</p>
    <p>{{ form.attending.label_tag }}</p>
    <div class="radio-group">
      {% for radio in form.attending %}
      <label>{{ radio.tag }} {{ radio.choice_label }}</label>
      {% endfor %}
    </div>

    <p>{{ form.guests_count.label_tag }} {{ form.guests_count }}</p>
    <p>{{ form.guest_names.label_tag }} {{ form.guest_names }}</p>

    <div class="submit_section">
      <button type="submit">Submit RSVP</button>
      <p>*Details can be changed later in rsvp settings</p>
    </div>
  </form>
</div>
